body{
    background-color: black;
    color: white;

}

li{
    font-size: 18px;
    color: red;
}

#html{
    color: rgb(255, 128, 0);
}

#css{
    color: rgb(103, 171, 255);
}

#js{
    color: yellow;
}

button{
    background-color: pink;
    padding: 10px 20px; /* ESPAÇO INTERNO */
    margin: 10px; /* ESPAÇO EXTERNO */
    border-radius: 10px; /* BORDA */
    max-width: 100px;
}

span{
    font-size: 20px;
    color: rgb(119, 0, 255);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#acessivel{
    position: fixed;
    left: 20px;
    bottom: 20px;
}
         
hr{
    width: 60%;
}